#single-post {
  padding-top: 50px;
  @include desktop {
    padding-top: 80px;
  }
  .single-img {
    img {
      height: 100%;
      width: 100%;
    }
  }
  .wrapper-main-single {
    margin-top: 25px;
    @include tablet {
      margin-top: 35px;
    }
    @include desktop {
      margin-top: 50px;
    }
    .title-post-detail {
      h1 {
        font-weight: bold;
      }
      .line {
        height: 5px;
        max-width: 100%;
        background: $color-pink;
      }
      .post-excerpt {
        font-weight: bold;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .wrapper-post-relate {
    .post-relate-title {
      padding-bottom: 25px;
      @include tablet {
        padding-bottom: 35px;
      }
      @include desktop {
        padding-bottom: 50px;
      }
      .title {
        color: $color-violet;
      }
      .line {
        max-width: 100px;
        height: 4px;
        background: $color-violet;
      }
    }
    .wrapper-blogs {
      .card-blog {
        margin-right: 15px;
        margin-left: 15px;
      }
    }
    .slick-arrow {
      width: 50px;
      height: 50px;
      z-index: 9;
      @include transition;
      &:hover {
        background: $color-violet !important;
      }
    }
    .slick-prev {
      left: -50px;
    }
    .slick-next {
      right: -50px;
    }
    .slick-prev:before,
    .slick-next:before {
      font-size: 30px !important;
    }
  }

  .prose {
    img {
      height: auto;
      border-radius: 15px;
      @include tablet {
        border-radius: 30px;
      }
    }
    a {
      color: $color-violet;
    }
    img.aligncenter {
      display: block;
      margin: 1em auto;
    }
    .alignright {
      text-align: right;
    }
    .aligncenter {
      text-align: center;
    }
  }
  .prose {
    overflow: hidden;
    max-width: 100%;
    color: $color-white;
  }
  .prose {
    .wp-caption {
      width: 100% !important;
      .wp-caption-text {
        margin-top: 0px;
      }
    }
  }
  .prose pre {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .prose a {
    position: relative;
  }

  .prose a::before {
    content: "";
    position: absolute;
    bottom: -0.3em;
    left: 0;
    right: 0;
    height: 3px;
    width: 100%;
    pointer-events: none;
  }

  .prose a:hover::before,
  .prose a:focus::before {
    transform: scaleX(0.95);
  }

  .prose strong {
    font-weight: 600;
  }

  .prose ol {
    counter-reset: list-counter;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .prose ol > li {
    position: relative;
    counter-increment: list-counter;
    padding-left: 1.75em;
  }

  .prose ol > li::before {
    content: counter(list-counter) ".";
    position: absolute;
    font-weight: 400;
    color: $color-violet;
  }

  .prose ul > li {
    position: relative;
    padding-left: 1.75em;
  }

  .prose ul > li::before {
    content: "";
    position: absolute;
    background-color: $color-violet;
    border-radius: 50%;
    width: 0.375em;
    height: 0.375em;
    top: calc(0.875em - 0.1875em);
    left: 0.25em;
  }

  .prose blockquote p:first-of-type::before {
    content: open-quote;
  }

  .prose blockquote p:last-of-type::after {
    content: close-quote;
  }

  .prose h1 {
    font-weight: 800;
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 0.8888889em;
    line-height: 1.1111111;
  }

  .prose h2 {
    font-weight: 700;
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    @include tablet {
      margin-top: 1em;
      margin-bottom: 1em;
    }
    margin-bottom: 1em;
    line-height: 1.3333333;
  }

  .prose h3 {
    font-weight: 600;
    font-size: 1.25em;
    margin-top: 1.6em;
    margin-bottom: 0.6em;
    line-height: 1.6;
  }

  .prose h4 {
    font-weight: 600;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    line-height: 1.5;
  }

  .prose figure figcaption {
    color: theme("colors.gray.600");
    font-size: 0.875em;
    line-height: 1.4285714;
    margin-top: 0.8571429em;
  }

  .prose code {
    color: theme("colors.gray.900");
    font-weight: 600;
    font-size: 0.875em;
  }

  .prose code::before {
    content: "`";
  }

  .prose code::after {
    content: "`";
  }

  .prose pre code {
    background-color: transparent;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-weight: 400;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
  }

  .prose pre code::before {
    content: "";
  }

  .prose pre code::after {
    content: "";
  }

  .prose table {
    width: 100%;
    table-layout: auto;
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
    @include tablet {
      margin-top: 1em;
      margin-bottom: 1em;
    }
    margin-bottom: 2em;
    font-size: 0.875em;
    line-height: 1.7142857;
  }

  .prose thead {
    color: #1a202c;
    font-weight: 600;
    border-bottom-width: 1px;
    border-bottom-color: $color-violet;
  }

  .prose thead th {
    vertical-align: bottom;
    padding-right: 0.5714286em;
    padding-bottom: 0.5714286em;
    padding-left: 0.5714286em;
  }

  .prose tbody tr {
    border-bottom-width: 1px;
    border-bottom-color: $color-violet;
  }

  .prose tbody tr:last-child {
    border-bottom-width: 0;
  }

  .prose tbody td {
    vertical-align: top;
    padding-top: 0.5714286em;
    padding-right: 0.5714286em;
    padding-bottom: 0.5714286em;
    padding-left: 0.5714286em;
  }

  .prose {
    font-size: 1rem;
    line-height: 1.75;
  }

  .prose p {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .prose img {
    vertical-align: middle;
    max-width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    @include tablet {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }

  .prose video {
    margin-top: 1em;
    margin-bottom: 1em;
    @include tablet {
      margin-top: 1em;
      margin-bottom: 1em;
    }
    margin-bottom: 2em;
  }

  .prose figure {
    margin-top: 1em;
    margin-bottom: 1em;
    @include tablet {
      margin-top: 1em;
      margin-bottom: 1em;
    }
    margin-bottom: 2em;
  }

  .prose figure > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  .prose h2 code {
    font-size: 0.875em;
  }

  .prose h3 code {
    font-size: 0.9em;
  }

  .prose ul {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .prose li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .prose ol > li:before {
    left: 0;
  }

  .prose > ul > li p {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

  .prose > ul > li > *:first-child {
    margin-top: 1em;
  }

  .prose > ul > li > *:last-child {
    margin-bottom: 1em;
  }

  .prose > ol > li > *:first-child {
    margin-top: 1em;
  }

  .prose > ol > li > *:last-child {
    margin-bottom: 1em;
  }

  .prose ul ul,
  .prose ul ol,
  .prose ol ul,
  .prose ol ol {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

  .prose hr + * {
    margin-top: 0;
  }

  .prose h2 + * {
    margin-top: 0;
  }

  .prose h3 + * {
    margin-top: 0;
  }

  .prose h4 + * {
    margin-top: 0;
  }

  .prose thead th:first-child {
    padding-left: 0;
  }

  .prose thead th:last-child {
    padding-right: 0;
  }

  .prose tbody td:first-child {
    padding-left: 0;
  }

  .prose tbody td:last-child {
    padding-right: 0;
  }

  .prose > :first-child {
    margin-top: 0;
  }

  .prose > :last-child {
    margin-bottom: 0;
  }
}
